# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [4]:
import pandas as pd
import numpy as np

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [5]:
data = pd.DataFrame(np.random.randint(1, 21, size=(6, 4)),columns=['a', 'b', 'c', 'd'])
print("Original DataFrame:")
print(data)

data.set_index('a', inplace=True)
print("\nDataFrame with 'a' as index:")     
print(data)

Original DataFrame:
    a   b   c   d
0  15   9  13   8
1   4  16   8   5
2  12  13  14  14
3  19   2  19  10
4  10   6   8  15
5  15  15  11  18

DataFrame with 'a' as index:
     b   c   d
a
15   9  13   8
4   16   8   5
12  13  14  14
19   2  19  10
10   6   8  15
15  15  11  18

In [6]:
data = pd.DataFrame(np.random.randint(1, 21, size=(3, 3)), columns=['x', 'y', 'z'], index=['A', 'B', 'C'])
print("\nDataFrame with custom index:")
print(data)

print(data.at['B','y'])   # at: find a single value

DataFrame with custom index:
    x   y   z
A   5  18  15
B   9   1  18
C  11   5  19
1

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [7]:
data = pd.DataFrame(np.random.randint(1, 21, size=(5, 3)), columns=['x', 'y', 'z'], index=['A', 'B', 'C','D','E'])
print("\nDataFrame with custom index:")
print(data)

data['f'] =data['x'] * data['y']
print("\nDataFrame after adding new column 'f':")   
print(data)

DataFrame with custom index:
    x   y   z
A  14  10  16
B   5  14  20
C  18   8   2
D  16  16   5
E   9  14  13

DataFrame after adding new column 'f':
    x   y   z    f
A  14  10  16  140
B   5  14  20   70
C  18   8   2  144
D  16  16   5  256
E   9  14  13  126

In [8]:
data = pd.DataFrame(np.random.randint(1, 21, size=(4, 3)), columns=['x', 'y', 'z'])
print("\nDataFrame with custom index:")
print(data)


print("row wise sum:", data.sum(axis=1))
print("column wise sum:", data.sum(axis=0))

DataFrame with custom index:
    x   y   z
0  15  16  17
1   1   6  16
2   8  11  18
3   9   6   3
row wise sum: 0    48
1    23
2    37
3    18
dtype: int64
column wise sum: x    33
y    39
z    54
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [21]:
df = pd.DataFrame(np.random.rand(5, 3), columns=['x', 'y', 'z'])

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan

print(df)


df.fillna(df.mean())
print(df)

          x         y         z
0  0.307733       NaN  0.994129
1  0.969033  0.977744  0.466695
2  0.291249  0.051534       NaN
3  0.580763  0.165095  0.355028
4       NaN  0.382487  0.997591
          x         y         z
0  0.307733       NaN  0.994129
1  0.969033  0.977744  0.466695
2  0.291249  0.051534       NaN
3  0.580763  0.165095  0.355028
4       NaN  0.382487  0.997591

In [22]:
df = pd.DataFrame(np.random.rand(6, 4), columns=['x', 'y', 'z','p'])
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan

print(df)


df = df.dropna(inplace=True)
print(df)

          x         y         z         p
0  0.272282  0.562479  0.730236  0.669528
1  0.549987  0.308093  0.822261  0.450184
2  0.106207  0.210312       NaN  0.062842
3  0.879126  0.825897  0.006869  0.750330
4       NaN  0.868393  0.307001  0.199781
5  0.562451  0.656726  0.622322  0.077771
None

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [31]:
df = pd.DataFrame({'category':np.random.choice(['A', 'B', 'C'], size=100),
                   'value':np.random.rand(100)})
print(df)

grp = df.groupby('category')['value'].agg(['sum','mean'])
print(grp)

   category     value
0         C  0.199056
1         C  0.467345
2         C  0.357123
3         C  0.463048
4         C  0.057354
..      ...       ...
95        C  0.171605
96        C  0.552906
97        C  0.108441
98        C  0.090344
99        A  0.609437

[100 rows x 2 columns]
                sum      mean
category
A         13.744239  0.528625
B         16.850392  0.495600
C         20.731326  0.518283

In [34]:
df = pd.DataFrame({'product':np.random.choice(['x','y','z']),'category':np.random.choice(['A', 'B', 'C'], size=100),
                   'sales':np.random.rand(100)})
print(df)


print(df.groupby('category')['sales'].sum())

   product category     sales
0        z        B  0.002769
1        z        C  0.289971
2        z        C  0.865393
3        z        B  0.164535
4        z        C  0.106462
..     ...      ...       ...
95       z        A  0.836468
96       z        C  0.613034
97       z        B  0.457351
98       z        A  0.052219
99       z        A  0.651813

[100 rows x 3 columns]
category
A    20.355761
B     7.921868
C    18.351375
Name: sales, dtype: float64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [45]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print(df1)
print(df2)

pd.merge(df1,df2, on='Key')

  Key  Value1
0   A      61
1   B      12
2   C      58
3   D      76
  Key  Value2
0   A      48
1   B      84
2   C      58
3   E      21

  Key  Value1  Value2
0   A      61      48
1   B      12      84
2   C      58      58

In [50]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'name': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})

concate = pd.concat([df1, df2], axis=1)
print(concate)

  Key  Value1 name  Value2
0   A       5    A      75
1   B      26    B      12
2   C      99    C      14
3   D      21    E      91

In [52]:
concate1 = pd.concat([df1, df2], axis=0)
print(concate1)

   Key  Value1 name  Value2
0    A     5.0  NaN     NaN
1    B    26.0  NaN     NaN
2    C    99.0  NaN     NaN
3    D    21.0  NaN     NaN
0  NaN     NaN    A    75.0
1  NaN     NaN    B    12.0
2  NaN     NaN    C    14.0
3  NaN     NaN    E    91.0

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [128]:
date_rang = pd.date_range(start='2023-01-01', end='2023-09-10')
df = pd.DataFrame(date_rang,columns=['Date'])
print(df)
df.set_index('Date', inplace=True)
print(df)

df['Date'] = np.random.randint(1,100)
print(df)

monthly_mean = df.resample('M').mean()
print(monthly_mean)

          Date
0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
4   2023-01-05
..         ...
248 2023-09-06
249 2023-09-07
250 2023-09-08
251 2023-09-09
252 2023-09-10

[253 rows x 1 columns]
Empty DataFrame
Columns: []
Index: [2023-01-01 00:00:00, 2023-01-02 00:00:00, 2023-01-03 00:00:00, 2023-01-04 00:00:00, 2023-01-05 00:00:00, 2023-01-06 00:00:00, 2023-01-07 00:00:00, 2023-01-08 00:00:00, 2023-01-09 00:00:00, 2023-01-10 00:00:00, 2023-01-11 00:00:00, 2023-01-12 00:00:00, 2023-01-13 00:00:00, 2023-01-14 00:00:00, 2023-01-15 00:00:00, 2023-01-16 00:00:00, 2023-01-17 00:00:00, 2023-01-18 00:00:00, 2023-01-19 00:00:00, 2023-01-20 00:00:00, 2023-01-21 00:00:00, 2023-01-22 00:00:00, 2023-01-23 00:00:00, 2023-01-24 00:00:00, 2023-01-25 00:00:00, 2023-01-26 00:00:00, 2023-01-27 00:00:00, 2023-01-28 00:00:00, 2023-01-29 00:00:00, 2023-01-30 00:00:00, 2023-01-31 00:00:00, 2023-02-01 00:00:00, 2023-02-02 00:00:00, 2023-02-03 00:00:00, 2023-02-04 00:00:00, 2023-02-05 00:00:00, 2023-02-06 00:00:00, 2023-02-07 00:00:00, 2023-02-08 00:00:00, 2023-02-09 00:00:00, 2023-02-10 00:00:00, 2023-02-11 00:00:00, 2023-02-12 00:00:00, 2023-02-13 00:00:00, 2023-02-14 00:00:00, 2023-02-15 00:00:00, 2023-02-16 00:00:00, 2023-02-17 00:00:00, 2023-02-18 00:00:00, 2023-02-19 00:00:00, 2023-02-20 00:00:00, 2023-02-21 00:00:00, 2023-02-22 00:00:00, 2023-02-23 00:00:00, 2023-02-24 00:00:00, 2023-02-25 00:00:00, 2023-02-26 00:00:00, 2023-02-27 00:00:00, 2023-02-28 00:00:00, 2023-03-01 00:00:00, 2023-03-02 00:00:00, 2023-03-03 00:00:00, 2023-03-04 00:00:00, 2023-03-05 00:00:00, 2023-03-06 00:00:00, 2023-03-07 00:00:00, 2023-03-08 00:00:00, 2023-03-09 00:00:00, 2023-03-10 00:00:00, 2023-03-11 00:00:00, 2023-03-12 00:00:00, 2023-03-13 00:00:00, 2023-03-14 00:00:00, 2023-03-15 00:00:00, 2023-03-16 00:00:00, 2023-03-17 00:00:00, 2023-03-18 00:00:00, 2023-03-19 00:00:00, 2023-03-20 00:00:00, 2023-03-21 00:00:00, 2023-03-22 00:00:00, 2023-03-23 00:00:00, 2023-03-24 00:00:00, 2023-03-25 00:00:00, 2023-03-26 00:00:00, 2023-03-27 00:00:00, 2023-03-28 00:00:00, 2023-03-29 00:00:00, 2023-03-30 00:00:00, 2023-03-31 00:00:00, 2023-04-01 00:00:00, 2023-04-02 00:00:00, 2023-04-03 00:00:00, 2023-04-04 00:00:00, 2023-04-05 00:00:00, 2023-04-06 00:00:00, 2023-04-07 00:00:00, 2023-04-08 00:00:00, 2023-04-09 00:00:00, 2023-04-10 00:00:00, ...]

[253 rows x 0 columns]
            Date
Date
2023-01-01     2
2023-01-02     2
2023-01-03     2
2023-01-04     2
2023-01-05     2
...          ...
2023-09-06     2
2023-09-07     2
2023-09-08     2
2023-09-09     2
2023-09-10     2

[253 rows x 1 columns]
            Date
Date
2023-01-31   2.0
2023-02-28   2.0
2023-03-31   2.0
2023-04-30   2.0
2023-05-31   2.0
2023-06-30   2.0
2023-07-31   2.0
2023-08-31   2.0
2023-09-30   2.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_10408\4164072337.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [71]:
date_range = pd.date_range(start='2021-01-01',end='2021-12-31')
df = pd.DataFrame(date_range, columns=['Date'])
print(df)

df.set_index('Date',inplace=True)
print(df)

df['Date'] = np.random.randint(1,100, size=len(df))
print(df)

rolling_mean = df.rolling(window=7).mean()
print("rolling_mean",rolling_mean)

          Date
0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
..         ...
360 2021-12-27
361 2021-12-28
362 2021-12-29
363 2021-12-30
364 2021-12-31

[365 rows x 1 columns]
Empty DataFrame
Columns: []
Index: [2021-01-01 00:00:00, 2021-01-02 00:00:00, 2021-01-03 00:00:00, 2021-01-04 00:00:00, 2021-01-05 00:00:00, 2021-01-06 00:00:00, 2021-01-07 00:00:00, 2021-01-08 00:00:00, 2021-01-09 00:00:00, 2021-01-10 00:00:00, 2021-01-11 00:00:00, 2021-01-12 00:00:00, 2021-01-13 00:00:00, 2021-01-14 00:00:00, 2021-01-15 00:00:00, 2021-01-16 00:00:00, 2021-01-17 00:00:00, 2021-01-18 00:00:00, 2021-01-19 00:00:00, 2021-01-20 00:00:00, 2021-01-21 00:00:00, 2021-01-22 00:00:00, 2021-01-23 00:00:00, 2021-01-24 00:00:00, 2021-01-25 00:00:00, 2021-01-26 00:00:00, 2021-01-27 00:00:00, 2021-01-28 00:00:00, 2021-01-29 00:00:00, 2021-01-30 00:00:00, 2021-01-31 00:00:00, 2021-02-01 00:00:00, 2021-02-02 00:00:00, 2021-02-03 00:00:00, 2021-02-04 00:00:00, 2021-02-05 00:00:00, 2021-02-06 00:00:00, 2021-02-07 00:00:00, 2021-02-08 00:00:00, 2021-02-09 00:00:00, 2021-02-10 00:00:00, 2021-02-11 00:00:00, 2021-02-12 00:00:00, 2021-02-13 00:00:00, 2021-02-14 00:00:00, 2021-02-15 00:00:00, 2021-02-16 00:00:00, 2021-02-17 00:00:00, 2021-02-18 00:00:00, 2021-02-19 00:00:00, 2021-02-20 00:00:00, 2021-02-21 00:00:00, 2021-02-22 00:00:00, 2021-02-23 00:00:00, 2021-02-24 00:00:00, 2021-02-25 00:00:00, 2021-02-26 00:00:00, 2021-02-27 00:00:00, 2021-02-28 00:00:00, 2021-03-01 00:00:00, 2021-03-02 00:00:00, 2021-03-03 00:00:00, 2021-03-04 00:00:00, 2021-03-05 00:00:00, 2021-03-06 00:00:00, 2021-03-07 00:00:00, 2021-03-08 00:00:00, 2021-03-09 00:00:00, 2021-03-10 00:00:00, 2021-03-11 00:00:00, 2021-03-12 00:00:00, 2021-03-13 00:00:00, 2021-03-14 00:00:00, 2021-03-15 00:00:00, 2021-03-16 00:00:00, 2021-03-17 00:00:00, 2021-03-18 00:00:00, 2021-03-19 00:00:00, 2021-03-20 00:00:00, 2021-03-21 00:00:00, 2021-03-22 00:00:00, 2021-03-23 00:00:00, 2021-03-24 00:00:00, 2021-03-25 00:00:00, 2021-03-26 00:00:00, 2021-03-27 00:00:00, 2021-03-28 00:00:00, 2021-03-29 00:00:00, 2021-03-30 00:00:00, 2021-03-31 00:00:00, 2021-04-01 00:00:00, 2021-04-02 00:00:00, 2021-04-03 00:00:00, 2021-04-04 00:00:00, 2021-04-05 00:00:00, 2021-04-06 00:00:00, 2021-04-07 00:00:00, 2021-04-08 00:00:00, 2021-04-09 00:00:00, 2021-04-10 00:00:00, ...]

[365 rows x 0 columns]
            Date
Date
2021-01-01    50
2021-01-02     9
2021-01-03    31
2021-01-04    52
2021-01-05    82
...          ...
2021-12-27    94
2021-12-28    62
2021-12-29    74
2021-12-30    13
2021-12-31    71

[365 rows x 1 columns]
rolling_mean                  Date
Date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  66.428571
2021-12-28  63.571429
2021-12-29  66.285714
2021-12-30  54.285714
2021-12-31  50.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [83]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays=arrays, names=('first', 'second'))
print(index)
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)),index=index, columns=['Value1', 'Value2', 'Value3'])
print(df)

print(df.loc['A'])
print(df.loc['A','one'])

MultiIndex([('A', 'one'),
            ('A', 'two'),
            ('B', 'one'),
            ('B', 'two')],
           names=['first', 'second'])
              Value1  Value2  Value3
first second
A     one         47       6      51
      two         60      52       3
B     one         35       4      90
      two         77      94      65
        Value1  Value2  Value3
second
one         47       6      51
two         60      52       3
Value1    47
Value2     6
Value3    51
Name: (A, one), dtype: int32

In [88]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays=arrays, names=('Category', 'SubCategory'))

df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)),index=index, columns=['Value1', 'Value2', 'Value3'])
print(df)


print(df.groupby(['Category','SubCategory']).sum())

                      Value1  Value2  Value3
Category SubCategory
A        one              78      49      38
         two              27      83       9
B        one              82       6      75
         two              99      73      67
                      Value1  Value2  Value3
Category SubCategory
A        one              78      49      38
         two              27      83       9
B        one              82       6      75
         two              99      73      67


### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [100]:
columns = ['Date', 'Category', 'Value']
df = pd.DataFrame({"Date":np.random.choice(pd.date_range('2023-01-01', periods=10), size=10),
                   "Category":np.random.choice(['A', 'B', 'C'], size=10),
                   "Value":np.random.randint(1, 100, size=10)})
print(df)


data = df.groupby(['Date', 'Category'])['Value'].sum()

# compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='mean')
print(pivot_table)

        Date Category  Value
0 2023-01-10        A      4
1 2023-01-02        C     42
2 2023-01-01        A     33
3 2023-01-10        B     25
4 2023-01-08        B     22
5 2023-01-07        C     44
6 2023-01-01        C     68
7 2023-01-08        A     23
8 2023-01-06        B     72
9 2023-01-02        B     95
Category       A     B     C
Date
2023-01-01  33.0   NaN  68.0
2023-01-02   NaN  95.0  42.0
2023-01-06   NaN  72.0   NaN
2023-01-07   NaN   NaN  44.0
2023-01-08  23.0  22.0   NaN
2023-01-10   4.0  25.0   NaN

In [101]:
df = pd.DataFrame({"Year":np.random.choice(pd.date_range(2021,2050)),
                   "Quarter":np.random.choice(['A', 'B', 'C'], size=10),
                   "Revenue":np.random.randint(1, 100, size=10)})
print(df)

#compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print(pivot_table)

                           Year Quarter  Revenue
0 1970-01-01 00:00:00.000002021       C       37
1 1970-01-01 00:00:00.000002021       A       48
2 1970-01-01 00:00:00.000002021       A       92
3 1970-01-01 00:00:00.000002021       C        4
4 1970-01-01 00:00:00.000002021       B       99
5 1970-01-01 00:00:00.000002021       B       32
6 1970-01-01 00:00:00.000002021       C       76
7 1970-01-01 00:00:00.000002021       B       20
8 1970-01-01 00:00:00.000002021       C       95
9 1970-01-01 00:00:00.000002021       C       19
Quarter                           A          B     C
Year
1970-01-01 00:00:00.000002021  70.0  50.333333  46.2

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [105]:
df = pd.DataFrame(np.random.rand(5,3), columns=['x', 'y', 'z'])
print(df)

new_df = df.apply(lambda x: x * 2)
print(new_df)

          x         y         z
0  0.972272  0.961839  0.241927
1  0.521740  0.079307  0.957958
2  0.052484  0.959841  0.385909
3  0.806476  0.622605  0.482755
4  0.636811  0.914127  0.976271
          x         y         z
0  1.944543  1.923678  0.483853
1  1.043480  0.158614  1.915915
2  0.104969  1.919682  0.771818
3  1.612952  1.245211  0.965511
4  1.273621  1.828253  1.952542

In [115]:
df = pd.DataFrame(np.random.rand(6,3), columns=['x', 'y', 'z'])
print(df)

df["new_cols"] = df.apply(lambda x:x.sum(), axis=1)
print(df)

          x         y         z
0  0.665172  0.810382  0.399484
1  0.221873  0.342289  0.599195
2  0.521194  0.809578  0.852747
3  0.273846  0.336544  0.410013
4  0.665553  0.227752  0.910306
5  0.447182  0.314544  0.809647
          x         y         z  new_cols
0  0.665172  0.810382  0.399484  1.875038
1  0.221873  0.342289  0.599195  1.163357
2  0.521194  0.809578  0.852747  2.183519
3  0.273846  0.336544  0.410013  1.020402
4  0.665553  0.227752  0.910306  1.803610
5  0.447182  0.314544  0.809647  1.571373


### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [121]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data.str.upper())

Original Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [124]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data[:3])

Original Series:
0     apple
1    banana
2    cherry
dtype: object